@font-face {
  font-family: 'Open Sans;';
  src: local('Open Sans;'), url("./fonts/open-sans-v18-latin-regular.woff") format('woff');
}

.storybook-button {
  background: #FFFFFF;
  color: #5F6887;
  border: 1px solid #D1D2E3;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: 400;
  font-family: Open Sans;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
}
.storybook-button--primary {
  color: white;
  background: #527BFE;
}
.storybook-button--secondary {
  color: #333;
  background-color: transparent;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}
